@charset "uft-8";

.ankus-desc-page {
  height: calc(100% - 90px);
  margin-top: 15px;
}

.ankus-desc-page p {
  font-weight: 600;
}

.ankus-desc-page .sub-title {
  color: var(--jp-ui-font-color2);
}

.ankus-code-tag-tbl tr {
  /* display: table; */
  width: clac(100%-5px);
  height: 30px;
  /* table-layout: fixed; */
  border-bottom: 1px solid var(--jp-border-color2);
}

.ankus-code-tag-tbl tr td:first-child {
  width: 30px;
  text-align: center;
  color: var(--jp-content-font-color2);
  font-weight: bold;
}

.ankus-code-tag-tbl tr td:nth-child(3) {
  width: 30px;
}
.ankus-code-tag-tbl tr td:nth-child(3) button {
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.ankus-code-tag-tbl tr td:nth-child(3) button:hover {
  background-color: var(--jp-layout-color2);
}

.ankus-code-tag-tbl .input-tag {
  background-color: transparent;
  color: var(--jp-content-font-color0);
  font-family: var(--jp-content-font-family);
  font-size: 13px;
  border: none;
  width: 100%;
  height: 25px;
  display: inline-block;
}

.ankus-desc-page .td-tag {
  width: calc(100% - 60px);
  color: var(--jp-content-font-color0);
  font-family: var(--jp-content-font-family);
}
.ankus-desc-page .td-tag span {
  cursor: text;
}

.description-wrap {
  margin-top: 20px;
  height: 100px;
  padding: 0 6px;
}

.ankus-code-desc-txt {
  width: 100%;
  height: 83px;
  box-sizing: border-box;
  padding: 10px 0 0px 8px;
  resize: none;
  border: 1px solid var(--jp-border-color1);
  background-color: var(--jp-layout-color1);
  color: var(--jp-content-font-color0);
  font-family: var(--jp-content-font-family);
}

/* code property dialog => code preview font */
code.language-python {
  font-size: 11px;
}